[user]
	name = Ciro S. Costa
	email = ciro9758@gmail.com
	signingkey = F55C8E4A

[alias]
	commit = commit -S
[core]
	excludesfile = /Users/cirocosta/.gitignore_global
	autocrlf = input
[commit]
	gpgsign = true
[filter "lfs"]
	smudge = git-lfs smudge %f
	required = true
	clean = git-lfs clean %f
